.admin-container {
	padding: 10px 0;
	position: relative;
	
	.block {
		background: $block-grey;
		padding-bottom: 10px;
		margin-top: 10px;

		ul {
			padding: 0;
			margin: 0;
		}

		li {
			list-style: none;
			margin-bottom: 5px;
			border-radius: $border-radius;
			position: relative;
			display: flex;
		}

		header {
			padding: 10px 15px;
			background: $block-heading-grey;
			font-size: 1.5rem;
			margin-bottom: 10px;
			color: $blue;

			h2 {
				margin: 0;
				font-size: 1.5rem;
			}

			.error {
				color: $red;
			}
		}
	
		.top-form {
			border-bottom: 3px solid $well-grey;
			padding-bottom: 10px;
			margin-bottom: 10px;
			display: flex;
		}

		.top-form-single {
			display: flex;
		}

		.form-group {
			margin-bottom: 5px;
		}

		.col-1, 
		.col-2, 
		.col-3 {
			flex-grow: 1;
			margin-right: 10px;
		}

		.cols-2 {
			.col-2 {
				margin-right: 0;
			}
		}

		.cols-3 {

			.col-3 {
				max-width: 60px;
				margin-right: 0;
			}
		}

		.input-dark {
			background: $well-grey;
			color: #fff;
		}

		.delete-btn {
			width: 60px;
		}

		.save-btn {
			margin-top: 5px;
		}

	}

	.notify {
		position: fixed;
		top: 100px;
		right: 30px;
		width: 250px;
		padding: 10px;
		border-radius: 3px;
		z-index: 200;
		color: #fff;
		display: flex;
		min-height: 41px;

		.icon {
			font-size: 2rem;
			margin-right: 5px;
			display: flex;
			align-items: center;
		}

		.message {
			width: 80%;
		}

		&.success {
			background: rgba(0, 188, 140, 0.7);
		}

		&.alert {
			background: rgba(231, 76, 60, 0.7);
		}
	}
}
