.admin-container {
	.velocity {
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			list-style: none;
			margin-bottom: 5px;
			border-radius: $border-radius;
			position: relative;

			&:last-child {
				margin: 0;
			}
		}
		.close-btn {
			position: absolute;
			right: 4px;
			top: 4px;
		}

		.new {
			border-bottom: 3px solid $well-grey;
			padding-bottom: 5px;
			margin-bottom: 10px;
		}

		.new-item, 
		.velocity {
			display: flex;
			margin-bottom: 5px;

			.col-1, 
			.col-2, 
			.col-3 {
				flex-grow: 1;
			}

			.col-2 {
				margin: 0 10px;
				max-width: 80px;
			}

			.col-3 {
				text-align: right;
				max-width: 60px;
			}

			input {
				width: 100%;
				display: block;
			}
		}

		.velocity {
			input {
				color: #fff;
				background: $well-grey; 
			}
		}

		.form-group {
			margin-bottom: 5px;
		}

	}
}

.dashboard-container {
	.velocity {
		.current {
			font-size: 5rem;
			margin-top: 12px;
			font-weight: bold;
			line-height: 5rem;
			padding: 0 10px;
		}

		.vis {
			.velocity {
				fill: none;
				stroke: $blue;
				stroke-width: 3px;
			}
			.velocity-dots {
				fill: $blue;
			}
		}
	}
}