<header class="clearfix">
	<div ng-transclude class="pull-left"></div>
	<div class="pull-right">{{data.remaining}}/{{data.goal}}</div>
</header>
<div class="clearfix">
	<div class="col-md-12">
		<form name="burndownDates" class="new">
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<label for="startDate">Start Date</label>
						<input type="date" class="form-control" name="startDate" id="startDate" ng-model="data.startDate" ng-change="dateChange()">
					</div>
					<div class="col-md-6">
						<label for="endDate">End Date</label>
						<input type="date" class="form-control" name="endDate" id="endDate" ng-model="data.endDate" ng-change="dateChange()" min="{{data.startDate}}">
					</div>					
				</div>
			</div>
		</form>
	</div>

	<div class="col-md-12">
		<form name="burndownDays" class="days" novalidate>
			<div class="form-group" ng-repeat="day in data.days">
				<ng-form name="formDays" ng-if="day.editable">
					<div class="row">
						<div class="col-md-6">
							<label><span class="lighten">{{day.date}} - </span>Day {{day.num}} {{day.name}}:</label>
						</div>
						<div class="col-md-6">
							<input type="number" class="form-control" min="0" ng-model="day.qty">
						</div>
					</div>
				</ng-form>
			</div>
			<button class="btn btn-primary pull-right" ng-click="dayChange(burndownDays.$vaild)" ng-disabled="burndownDays.$invalid">Save</button>
		</form>
	</div>	
</div>
