.admin-container {
	.burndown {
		.top-form .col-3 {
			padding-top: 26px;
		}

		.days {
			label {
				padding-top: 8px;
			}
			input {
				max-width: 60px;
				text-align: right;
			}
		}
	}
}

.dashboard-container {
	.burndown {
		min-height: 462px;

		.totals {
			.remaining {
				text-align: right;
			}
		}

		.vis {
			.ideal-line {
				fill: none;
				stroke: #fff;
				stroke-width: 3px;
				opacity: 0.4;
			}

			.x-axis {
				.tick {
					display: none;
				}
			}
		}
	}
}