<div class="container">
    <form class="login-form" role="form" name="loginForm" novalidate>
        <input type="email" class="form-control" name="email" placeholder="Email" ng-model="login.email" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="login.password" required>
        <span class="pull-left loader" ng-show="login.loading"><fa name="refresh" spin></fa></span>
        <input type="submit" class="btn btn-primary pull-right" ng-click="login.signin(loginForm.$valid)" ng-disabled="loginForm.$invalid" value="Sign In">
    </form>
</div>
