.admin-container {
	.nps {
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			list-style: none;
			margin-bottom: 10px;
			border-radius: $border-radius;
			position: relative;

			&:last-child {
				margin: 0;
			}
		}
		.close-btn {
			position: absolute;
			right: 4px;
			top: 4px;
		}

		.new {
			border-bottom: 3px solid $well-grey;
			padding-bottom: 10px;
			margin-bottom: 20px;
		}

		.new-item, 
		.customer {
			display: flex;
			margin-bottom: 10px;

			.col-1, 
			.col-2, 
			.col-3 {
				flex-grow: 1;
			}

			.col-2 {
				margin: 0 10px;
				max-width: 80px;
			}

			.col-3 {
				text-align: right;
				max-width: 60px;
			}

			input {
				width: 100%;
				display: block;
			}
		}

		.customer {
			input {
				color: #fff;
				background: $well-grey; 
			}
		}

		.form-group {
			margin-bottom: 10px;
		}

	}
}

.dashboard-container {
	.nps {
		@for $i from 1 through 6 {
			.score-#{$i} {
				color: $red;
			}
		}
		@for $i from 9 through 10 {
			.score-#{$i} {
				color: $green;
			}
		}

		.vis {
			padding: 5px 10px;
		}
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			list-style: none;
			margin-bottom: 10px;
			width: 50%;
			float: left;
			&:nth-child(even) {
				padding-left: 5px;
			}
			&:nth-child(odd) {
				padding-right: 5px;
			}
			.li-inner {
				background: $well-grey;
				padding: 10px;
				border-radius: $border-radius;
				height: 41px;
			}
			.name {
				max-width: calc(100% - 19px);
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.total {
			font-size: 5rem;
			line-height: 5rem;
			color: $blue;
			font-weight: bold;
			text-align: right;
			margin-bottom: 20px;
		}
	}
}