<header class="clearfix">
	<div ng-transclude class="pull-left"></div>
</header>
<div class="vis clearfix">
	<div class="total" ng-if="data.score">
		{{data.score}}
	</div>
	<ul>
		<li ng-repeat="customer in data.customers | orderBy: '-score'" class="score-{{customer.score}}">
			<div class="li-inner">
				<span class="name">{{customer.name}}</span>
				<span class="score pull-right">{{customer.score}}</span>
			</div>
		</li>
	</ul>
	<div class="no-data" ng-if="!data.customers">
		<fa name="tasks" class="icon"></fa>
		No customers
	</div>
</div>