.dashboard-container {
	.block {
		background: $block-grey;
		padding-bottom: 20px;
		margin-top: 10px;

		header {
			padding: 10px 15px;
			background: $block-heading-grey;
			font-size: 1.5rem;
			margin-bottom: 10px;
		}

		h2 {
			margin: 0;
			font-size: 1.5rem;
		}

	}
}