.dashboard-container {
	padding: 10px 0;

	.block {
		background: $block-grey;
		padding-bottom: 10px;
		margin: 5px;

		header {
			padding: 10px 15px;
			background: $block-heading-grey;
			font-size: 1.5rem;
		}

		h2 {
			margin: 0;
			font-size: 1.5rem;
		}
	}

	.items {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			margin-bottom: 10px;
			float: left;
			width: 100%;

			.li-inner {
				list-style: none;
				background: $well-grey;
				padding: 10px;
				border-radius: $border-radius;
				line-height: 1em;;
			}
		}
	}

	.totals {
		margin-bottom: 20px;
		padding: 10px;

		.large {
			font-size: 5rem;
			line-height: 5rem;
			font-weight: bold;
			text-align: right;
		}

		.medium {
			font-size: 3rem;
			color: $green;
		}

		.negative {
			color: $red;
		}
	}

	.row-1,
	.row-2,
	.row-3
	{
		display: flex;
	}

	.row-1 {
		position: relative;

		&:before {
			right: 100%;
		}

		&:after {
			left: 100%;
			background-position: 100% 0;
		}

		.burndown {
			width: 770px;
			min-height: 450px;
		}
		.todo {
			width: 380px;
			min-height: 450px;
		}
	}

	.row-2 {
		.block {
			width: 100%;
			min-height: 330px;
		}
	}

	.row-3 {
		.block {
			width: 380px;
			min-height: 330px;
		}
	}

	.no-data {
		text-align: center;
		position: relative;
		margin-top: 80px;
		color: lighten($block-grey, 15%);
		.icon{
			font-size: 8rem;
			display: block;
		}
	}

	.graph-line {
		fill: none;
		stroke: $blue;
		stroke-width: 3px;
	}

	.graph-dots {
		fill: $blue;
	}

	.x-axis {
		fill: none;
		stroke: darken($block-grey, 5%);
		stroke-width: 3px;
	}

	.y-axis {
		fill: none;
		stroke: darken($block-grey, 5%);
		stroke-width: 3px;

		text {
			fill: #fff;
			stroke: none;
			opacity: 0.4;
		}
	}
}

@media (max-width: 1200px) {
	.dashboard-container {
		.row-1,
		.row-2 {
			display: block;
		}
		.block {
			width: 100%!important;
		}
	}
}