<header class="clearfix">
	<div ng-transclude class="pull-left"></div>
</header>
<div class="clearfix">
	<form name="satisfaction" novalidate>
		<div class="col-md-12">
			<div class="top-form-single cols-2">
				<div class="col-1">
					<label>Previous</label>
					<input type="number" class="form-control input-dark" placeholder="Previous Satisfaction" ng-model="data.prevSatisfaction" min="0" max="100" required>
				</div>
				<div class="col-2">
					<label>Current</label>
					<input type="number" class="form-control input-dark" placeholder="Current Satisfaction" ng-model="data.currentSatisfaction" min="0" max="100" required>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<button class="btn btn-primary pull-right save-btn" ng-click="save()" ng-disabled="satisfaction.$invalid"><fa name="thumbs-up"></fa> Save</button>
		</div>
	</form>
</div>