.admin-container {
	.satisfaction {
		.top-form-single {
			margin-bottom: 5px;
		}
	}
}

.dashboard-container {
	.satisfaction {
		.chart-color-1,
		.needle,
		.needle-center {
			fill: #fff;
			stroke: none;
		}
		.chart-color-0 {
			fill: $red;
		}
		.chart-color-2 {
			fill: #fff;
		}
		.chart-color-3 {
			fill: $green;
		}
	}
}