<header class="clearfix">
	<div ng-transclude class="pull-left"></div>
	<div class="pull-right">{{data.length}}</div>
</header>
<div class="clearfix">
	<div class="col-md-12">
		<form name="todoNew" class="form-inline new" novalidate>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Add todo" ng-model="newTodo" ng-minlength="1" required>
				<button class="btn btn-primary add-btn" ng-click="add()" ng-disabled="todoNew.$invalid">Add</button>
			</div>
		</form>
		<form name="todos">
			<ul>
				<li ng-repeat="todo in data">
					<input type="text" class="form-control" ng-model="todo.$value" ng-minlength="1" required>
					<a class="btn close-btn btn-default" ng-click="removeItem(todo)" title="Delete">
						<span><fa name="close"></fa></span>
					</a>
				</li>
			</ul>
			<div>
				<button class="btn btn-primary pull-right" ng-click="save()" ng-disabled="todos.$invalid">Save</button>
			</div>
		</form>
	</div>
</div>
