.admin-container {
	.todo {
		.new {
			border-bottom: 3px solid $well-grey;
			margin-bottom: 20px;
			padding-bottom: 10px;
		}
		ul {
			padding: 0;
			margin: 0 0 10px 0;
		}
		li {
			list-style: none;
			margin-bottom: 10px;
			display: flex;

			&:last-child {
				margin: 0;
			}

			input {
				color: #fff;
				background: $well-grey; 
			}
		}
		.close-btn {
			margin-left: 10px;
			width: 59px;
		}
		.add-btn {
			margin-left: 10px;
		}
		.form-group	{
			display: block;
			display: flex;
			margin: 10px 0;
		}
		input[type="text"] {
			width: 100%
		}

	}
}