.admin-container {
	.todo {
		input[type="text"] {
			width: 100%;
			text-overflow: ellipsis;
		}
		&.block .done .input-dark {
			text-decoration: line-through;
			color: $light-grey;
		}
	}
}

.dashboard-container {
	.todo {
		max-height: 450px;
		overflow: auto;
		.vis {
			padding: 10px 10px 0 10px;
		.done {
			text-decoration: line-through;
			color: $light-grey;
		  }
		}
	}
}
